<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CalmCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>


    <script type="text/javascript">
      if ("calmcloud.herokuapp.com" === window.location.host) {
        window.location.host = "www.calmcloud.app";
      } else if ((("www.calmcloud.app" || "calmcloud.app") === window.location.host) && (window.location.protocol !== "https:")) {
        window.location.protocol = "https:";
      }
    </script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap" rel="stylesheet">

    <script type="text/javascript">
      window.background1URL = "<%= image_url('background1.jpg') %>"
    </script>

    <script type="text/javascript">
      window.defaultWaveformIndex = "<%= image_url('default_waveform_index.png') %>"
    </script>

    <script type="text/javascript">
      window.defaultWaveformShowDark = "<%= image_url('default_waveform_show.png') %>"
    </script>

    <script type="text/javascript">
      window.defaultWaveformShowLight = "<%= image_url('default_waveform_show2.png') %>"
    </script>

    <script type="text/javascript">
      window.defaultAvatar = "<%= image_url('default_avatar.png') %>"
    </script>

    <script type="text/javascript">
      window.defaultArtwork = "<%= image_url('default_artwork.png') %>"
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
