<!DOCTYPE html>
<html>
  <head>
    <title>CalmCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap" rel="stylesheet">

    <script type="text/javascript">
      window.background1URL = "<%= image_url('background1.jpg') %>"
    </script>
    
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
