<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.34, minimum-scale=0.34, maximum-scale=0.34, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CalmCloud</title>
    <meta name="description" content="CalmCloud, music streaming service web app built with React, Redux, Ruby on Rails, AWS, PostgreSQL, HTML, CSS. Created by Derek Wolpert.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>

    <script type="text/javascript">
      if (window.location.protocol !== "https:")) {
        window.location.protocol = "https:";
      }
    </script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap" rel="stylesheet">
    <%= favicon_link_tag 'apple-touch-icon.png' %>
    <link 
      rel="shortcut icon" 
      type="image/png"
      href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAktJREFUWAljYBgFIz0EGIkJgL6+Ps5Pnz4ZMzIymv///98EqOc9EJ9hYmI6raGhcS0sLOwvMeZgU0PQAQ0NDWFAjf1ALIXNAKDYZWZm5uDa2trbOOTxCuN1ANDyCUDd+XhNgEiCQsQHqP4YEWpRlOB0ANCwNKDKmSiq8XM+AqVNhISEHr97904XGF3ywOi6XF9ffxvI/o9LK1YHtLa2Sv7+/fsmUBMvLo04xK8CxSWBWAhJ/gSQHQ/00C0kMTiTCc5CYgAtLwJySbUcZII2ECNbDhKzAOJjQAfIgDjoAKsDgIoi0BVSyBcG6u/AZgZGFABdKgZU+BKbYgrFfgL1CwDN/4FsDrYQ4ENWQEU2O9AsCXTzUBzQ1NSkC1QwFV0Rlfg/JSUln6KbxQwTAAZNHjDbrAPyVWFiVKY/ff369YyDg8ODAwcOwLMlOASAlscBLZsIxCxUthTZOCGgB3cBBU4DQ9oaJsHY2dnJ+/3797tAAVGYIB3of8DCyQNYSO1mAloeT2fLQf5jAobGHGDIc4GiwBckMgBADhgKiSAHqA+A5WArgaEQBHIAx0A5AGivKsgBtCj1iPUTM8gBB4lVTQN195iArZnpQIP/0cBwYoxcz7x///43wNIJVFuZE6ODimpAxTI4FzDw8fFVADnHqWg4IaP+ABUkAMuBL6A0wFBUVPQdSLkAcS8Qk93CBeolBjwEtqZdgJbvASnGaA+0tLTI//371waYR82A8qAyAuxIkGIKwC+g3ktAfIqbm3t3aWnpVwrMGtU6zEIAAJ4QmAHwL8Z/AAAAAElFTkSuQmCC"
      sizes="32x32"
      id="favicon"
    />

    <script type="text/javascript">
      window.background1URL = "<%= image_url('background1.jpg') %>"
    </script>

    <script type="text/javascript">
      window.defaultWaveformIndex = "<%= image_url('default_waveform_index.png') %>"
    </script>

    <script type="text/javascript">
      window.defaultWaveformShowDark = "<%= image_url('default_waveform_show.png') %>"
    </script>

    <script type="text/javascript">
      window.defaultWaveformShowLight = "<%= image_url('default_waveform_show2.png') %>"
    </script>

    <script type="text/javascript">
      window.defaultAvatar = "<%= image_url('default_avatar.png') %>"
    </script>

    <script type="text/javascript">
      window.defaultArtwork = "<%= image_url('default_artwork.png') %>"
    </script>

    <script type="text/javascript">
      window.commentAvatar = "<%= image_url('comment_avatar.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
